.cont {
  max-width: 998px;
  margin: auto;
}

.cont {
  margin-left: 15px;
  margin-right: 15px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 2px;
}

body {
  font-size: 16px;
}

h1, h2, h3 {
  font-weight: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul, li {
  list-style-type: none;
}

input {
  outline: none;
  color: #24072F;
  border: none;
}

a {
  color: black;
}

.section {
  padding: 4rem 0 1rem;
}

.section__height {
  height: 100vh;
}

.nav {
  background-color: #24072F;
  color: white;
  padding-top: 2rem;
  position: fixed;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.nav .nav_cont {
  margin-left: 25px;
  margin-right: 25px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav .nav__shape {
  width: 200px;
  height: 200px;
  background-color: #3C5066;
  position: absolute;
  border-radius: 50%;
  top: -2rem;
  left: -2rem;
  -webkit-filter: blur(90px);
          filter: blur(90px);
  z-index: 0;
}
.nav .nav__close {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.8rem;
  cursor: pointer;
  margin-bottom: 3.5rem;
}
.nav .nav__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.nav .nav__mask {
  width: 80px;
  height: 80px;
}
.nav .nav__data {
  position: relative;
  margin-bottom: 3rem;
}
.nav .nav__greeting {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f0f0f0;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}
.nav .nav__link {
  color: white;
}
.nav .nav__name {
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  font-family: "Bebas Neue", cursive;
}
.nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
.nav .nav__link {
  color: #ACBED3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 1px;
}
.nav .nav__link i {
  font-size: 1.15rem;
}
.nav .nav__link:hover {
  color: white;
}

.main {
  position: relative;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 10;
  padding-left: 15px;
  padding-right: 15px;
}

.HOME {
  margin-top: 20px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__nav .header__toggle {
  color: black;
  z-index: 1;
  font-size: 18px;
  cursor: pointer;
}
.header .header__nav .header__logo {
  letter-spacing: 2px;
  font-weight: 600;
}

.show__menu {
  -webkit-transform: translate(20%);
          transform: translate(20%);
}

@media screen and (max-width: 767px) {
  .show__menu {
    -webkit-transform: translate(70%);
            transform: translate(70%);
  }
}
@media screen and (max-width: 1024px) {
  .cont {
    margin-left: auto;
    margin-right: auto;
  }

  .show__menu {
    -webkit-transform: translate(70%);
            transform: translate(70%);
  }

  .section {
    padding: 7rem 0 2rem;
  }

  .nav .nav__shape {
    width: 350px;
    height: 350px;
  }
  .nav .nav__mask {
    width: 100px;
    height: 100px;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }
  .nav .nav__img {
    width: 90px;
  }
}
.setting__nav {
  display: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.setting__nav .setting__shape {
  width: 200px;
  height: 200px;
  background-color: #3C5066;
  position: absolute;
  border-radius: 50%;
  bottom: 4rem;
  left: -3rem;
  -webkit-filter: blur(90px);
          filter: blur(90px);
  z-index: 0;
}
.setting__nav .setting__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.setting__nav .setting__title {
  font-size: 18px;
  z-index: 1;
  margin-top: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.setting__nav .setting__title a {
  color: white;
}
.setting__nav .setting__title a a:hover {
  opacity: 0.6;
}
.setting__nav .setting__sub {
  margin-top: 12px;
  cursor: pointer;
  color: #ACBED3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.setting__nav .setting__sub:hover {
  color: white;
}
.setting__nav .setting_close {
  margin-top: 40px;
  font-size: 22px;
  padding: 6px;
  border-radius: 100%;
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  left: 20px;
}
.setting__nav .setting_close:hover {
  opacity: 0.4;
}
.setting__nav .setting_close:active {
  opacity: 1;
}

.theme {
  background-color: #24072F;
  outline: none;
  color: white;
  border: none;
  cursor: pointer;
}

.themee {
  background-color: #24072F;
  outline: none;
  color: white;
  border: none;
  cursor: pointer;
}

.theme::after {
  content: "";
}

body.theme-green {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body.theme-green .nav {
  background-color: #072507;
}
body.theme-green .theme {
  background-color: #072507;
  color: white;
}
body.theme-green .themee {
  background-color: #072507;
  color: white;
}

body.theme-gray .nav {
  background-color: #212223;
}
body.theme-gray .theme {
  background-color: #212223;
  color: white;
}
body.theme-gray .themee {
  background-color: #212223;
  color: white;
}

body.theme-blue .nav {
  background-color: #040E32;
}
body.theme-blue .theme {
  background-color: #040E32;
  color: white;
}
body.theme-blue .themee {
  background-color: #040E32;
  color: white;
}

body.theme-turquoise .nav {
  background-color: #054347;
}
body.theme-turquoise .theme {
  background-color: #054347;
  color: white;
}
body.theme-turquoise .themee {
  background-color: #054347;
  color: white;
}

body.themee-black .main {
  background-color: #04060D;
  color: white;
}
body.themee-black .add_card {
  color: white;
  background-color: #04060D;
}
body.themee-black .friends_add {
  color: white;
  border: 2px solid #04060D;
}
body.themee-black .friends_add:hover {
  border-radius: 2px solid white;
}

body.themee-white .main {
  background-color: white;
  color: black;
}

.setting_upload_all {
  position: static;
  color: white;
  border-radius: 10px;
}
.setting_upload_all .setting_input {
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
.setting_upload_all .set_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -15px;
  cursor: pointer;
}
.setting_upload_all .set_label .set_span {
  font-size: 16px;
  margin-left: 5px;
}

.add_card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 60px;
  background-color: white;
  border-radius: 15px;
  border: 2px solid #898D8D;
  margin-top: 20px;
  opacity: 0.5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.add_card:hover {
  opacity: 1;
}
.add_card .add_card_title {
  margin-top: 15px;
}
.add_card .add_card_icon {
  font-size: 32px;
}

.friends_all {
  margin-top: 20px;
}
.friends_all .friends_add {
  padding: 55px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.friends_all .friends_add .friends_card_title {
  margin-top: 5px;
}
.friends_all .friends_add:hover {
  border: 2px solid #04060D;
  border-radius: 20px;
}
.friends_all .friends__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  row-gap: 10px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.friends_all .friends__list .friends_item {
  max-width: 150px;
  max-height: 150px;
  border-radius: 20px;
}
.friends_all .friends__list .friends_item .friends_link .friends__img {
  border-radius: 20px;
}

@media (max-width: 350px) {
  .friends_item {
    width: 75px;
    height: 75px;
  }
  .friends_item .friends_add {
    padding: 17px 20px;
  }
  .friends_item .friends__img {
    height: 75px;
    width: 75px;
  }
}